<div class="p-8 space-y-10">

    <!-- Typography -->
    <div>
        <h1 class="text-5xl font-garamnond font-bold text-slate-900">Heading 1</h1>
        <p class="text font-noto text-gray-600">This is a paragraph showing base text styling.</p>
    </div>

    <!-- Buttons -->
    <div class="space-x-4">
        <button class="
            px-4 py-2
            bg-amber-400 text-slate-800
            rounded hover:rounded-full
            outline outline-amber-900
            hover:bg-amber-500 focus:bg-amber-600
            focus:ring-3 focus:ring-amber-300
            font-noto
        ">
            Primary Button
        </button>
        <button class="
            px-4 py-2
            bg-slate-900 text-amber-50
            rounded hover:rounded-full
            focus:ring-3 focus:ring-slate-500
        ">
            Secondary Button
        </button>
        <button class="
            px-4 py-2
            bg-transparent text-slate-900
            rounded-full
            hover:bg-slate-200
            focus:ring-3 focus:ring-slate-100
        ">
            Tertiary Button
        </button>
        <button class="
            px-4 py-2
            bg-green-400 text-slate-800
            rounded hover:rounded-full
            outline outline-green-900
            hover:bg-green-500 focus:bg-green-600
            focus:ring-3 focus:ring-green-300
            font-noto
        ">
            Success Button
        </button>
        <button class="
            px-4 py-2
            bg-red-400 text-slate-800
            rounded hover:rounded-full
            outline outline-red-900
            hover:bg-red-500 focus:bg-red-600
            focus:ring-3 focus:ring-red-300
            font-noto
        ">
            Danger Button
        </button>
        <button class="
            px-4 py-2
            bg-yellow-400 text-slate-800
            rounded hover:rounded-full
            outline outline-yellow-900
            hover:bg-yellow-500 focus:bg-yellow-600
            focus:ring-3 focus:ring-yellow-300
            font-noto
        ">
            Warning Button
        </button>
    </div>
    <div class="p-1 inline-flex space-x-10">
        <label class="inline-flex items-center space-x-2 cursor-pointer">
            <input type="checkbox" class="h-5 w-5 accent-amber-600 border-2">
            <span class="font-noto text-gray-600">Checkbox</span>
        </label>
        <label class="inline-flex items-center cursor-pointer">
            <input type="checkbox" value="" class="sr-only peer">
            <div
                class="relative w-11 h-6 ring-1 ring-slate-900 bg-slate-200 peer-focus:outline-none rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-slate-800 after:ring after:ring-slate-800 after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-amber-500">
            </div>
            <span class="font-noto text-gray-600 ms-2">Toggle</span>
        </label>
        <input id="default-range" type="range" value="50"
            class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer accent-amber-600">
    </div>

    <div>
        <span class="
        inline-flex items-center
        bg-slate-900 text-amber-50 
        text-sm font-medium font-noto
        px-2.5 py-1
        rounded-full
        focus:bg-amber-500
      ">
            Status
            <span class="relative flex h-2 w-2 ms-2">
                <span class="absolute inline-flex h-full w-full rounded-full bg-green-400 animate-ping"></span>
                <span class="relative inline-flex h-2 w-2 rounded-full bg-green-500"></span>
            </span>
        </span>
    </div>

    <!-- Card Example -->
    <div class="inline-flex">
        <div class="max-w-sm p-6 bg-white border border-slate-400 rounded-lg shadow-sm">
            <h2 class="text-4xl font-garamnond font-bold text-slate-900 mb-3">
                Noteworthy technology acquisitions 2021
            </h2>
            <p class="text font-noto text-gray-600 mb-3">
                Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order
            </p>
            <button class="
                px-4 py-2
                bg-amber-400 text-slate-800
                rounded hover:rounded-full
                outline outline-amber-900
                hover:bg-amber-500 focus:bg-amber-600
                focus:ring-3 focus:ring-amber-300
                font-noto
            ">
                <div class="inline-flex space-x-4 items-center">
                    Read More
                    <lucide-icon name="file" class="ms-1 size-4 stroke-2"></lucide-icon>
                </div>
            </button>
            <label class="ms-2 inline-flex items-center cursor-pointer">
                <input type="checkbox" value="" class="sr-only peer">
                <div
                    class="relative w-11 h-6 ring-1 ring-slate-900 bg-slate-200 peer-focus:outline-none rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-slate-800 after:ring after:ring-slate-800 after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-amber-400">
                </div>
                <span class="font-noto text-gray-600">Toggle</span>
            </label>
        </div>


        <div class="overflow-x-auto border border-slate-400 rounded-lg shadow-sm bg-white ms-3">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 ">
                <thead class="text-xs text-gray-700 uppercase bg-slate-50 border-b border-slate-200">
                    <tr>
                        <th scope=" col" class="px-6 py-3 font-noto">
                            Generator name
                        </th>
                        <th scope="col" class="px-6 py-3 font-noto">
                            Probability
                        </th>
                        <th scope="col" class="px-6 py-3 font-noto">
                        </th>
                        <th scope="col" class="px-6 py-3 font-noto">
                            Active
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="bg-white border-b border-slate-200">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap font-noto">
                            Company generator
                        </th>
                        <td class="px-6 py-4 font-noto">
                            <input id="default-range" type="range" value="50"
                                class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer accent-amber-600">
                        </td>
                        <td>
                            0.4
                        </td>
                        <td class="px-6 py-4">
                            <label class="inline-flex items-center cursor-pointer">
                                <input type="checkbox" value="" class="sr-only peer">
                                <div
                                    class="relative w-9 h-5 ring-1 ring-slate-900 bg-slate-200 peer-focus:outline-none rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-slate-800 after:ring after:ring-slate-800 after:rounded-full after:h-4 after:w-4 after:transition-all peer-checked:bg-amber-500">
                                </div>
                            </label>
                        </td>
                    </tr>
                    <tr class="bg-slate-50 border-b border-slate-200">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap font-noto">
                            Company generator
                        </th>
                        <td class="px-6 py-4 font-noto">
                            <input id="default-range" type="range" value="50"
                                class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer accent-amber-600">
                        </td>
                        <td>
                            0.4
                        </td>
                        <td class="px-6 py-4">
                            <label class="inline-flex items-center cursor-pointer">
                                <input type="checkbox" value="checked" class="sr-only peer">
                                <div
                                    class="relative w-9 h-5 ring-1 ring-slate-900 bg-slate-200 peer-focus:outline-none rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-slate-800 after:ring after:ring-slate-800 after:rounded-full after:h-4 after:w-4 after:transition-all peer-checked:bg-amber-500">
                                </div>
                            </label>
                        </td>
                    </tr>
                    <tr class="bg-white border-b border-slate-200">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap font-noto">
                            Company generator
                        </th>
                        <td class="px-6 py-4 font-noto">
                            <input id="default-range" type="range" value="50"
                                class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer accent-amber-600">
                        </td>
                        <td>
                            0.4
                        </td>
                        <td class="px-6 py-4">
                            <label class="inline-flex items-center cursor-pointer">
                                <input type="checkbox" value="" class="sr-only peer">
                                <div
                                    class="relative w-9 h-5 ring-1 ring-slate-900 bg-slate-200 peer-focus:outline-none rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-slate-800 after:ring after:ring-slate-800 after:rounded-full after:h-4 after:w-4 after:transition-all peer-checked:bg-amber-500">
                                </div>
                            </label>
                        </td>
                    </tr>
                    <tr class="bg-slate-50 border-b border-slate-200">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap font-noto">
                            Company generator
                        </th>
                        <td class="px-6 py-4 font-noto">
                            <input id="default-range" type="range" value="50"
                                class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer accent-amber-600">
                        </td>
                        <td>
                            0.4
                        </td>
                        <td class="px-6 py-4">
                            <label class="inline-flex items-center cursor-pointer">
                                <input type="checkbox" value="checked" class="sr-only peer">
                                <div
                                    class="relative w-9 h-5 ring-1 ring-slate-900 bg-slate-200 peer-focus:outline-none rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-slate-800 after:ring after:ring-slate-800 after:rounded-full after:h-4 after:w-4 after:transition-all peer-checked:bg-amber-500">
                                </div>
                            </label>
                        </td>
                    </tr>
                </tbody>
                <tfoot class="bg-slate-50">
                    <tr>
                        <td colspan="100%" class="text-right">
                            <button class="
                              m-3
                              px-4 py-2
                              bg-green-400 text-slate-800
                              rounded hover:rounded-full
                              outline outline-green-900
                              hover:bg-green-500 focus:bg-green-600
                              focus:ring-3 focus:ring-green-300
                              font-noto
                          ">
                                Save Changes
                            </button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <div class="flex items-start gap-2.5">
        <img class="w-8 h-8 rounded-full self-end" src="/docs/images/people/profile-picture-3.jpg" alt="Jese image">
        <div class="flex flex-col gap-1 w-full max-w-2/3">
            <div
                class="flex flex-col leading-1.5 p-4 border-gray-200 bg-gray-100 rounded-tl-xl rounded-br-xl rounded-tr-xl dark:bg-slate-700">
                <markdown class="variable-binding prose prose-sm dark:prose-invert max-w-none" [data]="question">
                </markdown>
            </div>
            <div class="flex items-center space-x-2 rtl:space-x-reverse">
                <span class="text-sm font-semibold text-gray-900">Oracle Engine</span>
                <span class="text-sm font-normal text-gray-500 dark:text-gray-400">11:46</span>
            </div>
        </div>
    </div>


    <div class="flex w-full flex-row-reverse items-start gap-2.5">
        <img class="w-8 h-8 rounded-full self-end" src="/docs/images/people/profile-picture-3.jpg" alt="Jese image">
        <div class="flex flex-col gap-1 max-w-2/3">
            <div
                class="flex flex-col leading-1.5 p-4 border-gray-200 bg-gray-100 rounded-tl-xl rounded-bl-xl rounded-tr-xl dark:bg-slate-700">
                <markdown class="variable-binding prose prose-sm dark:prose-invert max-w-none" [data]="answer">
                </markdown>
            </div>
            <div class="flex items-center justify-end space-x-2 rtl:space-x-reverse self-end">
                <span class="text-sm font-semibold text-gray-900">Oracle</span>
                <span class="text-sm font-normal text-gray-500 dark:text-gray-400">11:46</span>
            </div>
        </div>
    </div>

</div>